body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

header {
  z-index: 2;
  position: sticky;
  top: 0;
  margin: 0;
  background-color: black;
}

.NavLogo {
  height: 40px;
  width: 150px;
}

li a {
  display: block;
  color: white;
  padding: 14px 40px;
  text-decoration: none;
}

li a:hover {
  background-color: #262626;
}

ul {
  font-size: 17px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.MainImage {
  height: 100vh;
  width: auto;
}

.FirstSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: larger;
}

.MiddleSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 30vh;
}

.RecordImage {
  height: 100px;
  width: 100px;
  animation-name: EndlessSpin;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: width 2s, height 2s;
}

.RecordImage:hover {
  height: 120px;
  width: 120px;
}

@keyframes EndlessSpin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

.SecondSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.Card {
  width: 300px;
  height: 480px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}

.CardText {
  font-size: medium;
  padding: 10px;
  margin: 0 auto;
}

.ReleaseDate {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: medium;
  color: grey;
}

.CardImage {
  width: 300px;
  height: 300px;
  border-bottom: 2px solid black;
}

.Card:hover {
  animation-name: shake;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  10% {
    transform: rotate(-5deg);
   }
  20% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}

@media (max-width: 769px) {
  .NavLogo {
    height: 30px;
    width: 112px;
  }

  .FirstSection {
    flex-direction: column;
  }

  .SecondSection {
    flex-direction: column;
  }

.CardImage {
  height: 200px;
  width: 200px;
}

  .Card {
    height: 200px;
    width: 600px;
    flex-direction: row;
  }
}

@media (max-width: 426px) {
  .FirstSection {
    flex-direction: column;
    font-size: small;
  }

  .SecondSection {
    flex-direction: column;
  }

  .Card {
    flex-direction: row;
    height: 150px;
    width: 400px;
  }

  .CardImage {
    height: 150px;
    width: 150px;
  }
  .CardText {
    font-size: small;
  }

  .ReleaseDate {
    font-size: small;
  }
}
  @media (max-width: 376px) {
    .Card {
      width: 350px;
    }

  }